body {
  background-color: rgb(255, 255, 255);
  margin: 0px;

}

h1 {
  text-align: center;
  display: block;
  background-color: rgb(59, 59, 59);
  color: white;
  padding: 20px;
  margin: 0px;
}

nav {
  background-color: rgb(80, 80, 80);
  margin: 0px;
  display: block;
  padding: 20px;
  color: white;


}
  a {
    color: white;
    text-decoration: none;

  }

  a:hover {
    color:rgb(29, 28, 28);
    background-color:rgb(80, 80, 80);
    transition: 1s linear; 
 }

 h2 {
  text-align: center;
 
 }

 .center-text {
  text-align: center;
 }

 .horz-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  
 }

 section {
  background-color: lightgray;
  padding: 10px 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 4px 10px 5px grey;
  margin-bottom: 50px;
  

 }

 img {
  margin-right: 50px;
  width: 20%
 

 }